.header-wrap {
  position: relative;
  background: url("../images/header1.jpg") no-repeat fixed bottom center/cover;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
