@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  max-width: 100%;
  display: block; }

.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.625rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 1; }
  .navbar .active {
    color: crimson; }
  @media (max-width: 600px) {
    .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center; } }
  .navbar a img {
    width: 15.625rem;
    height: 5rem; }
    @media (max-width: 321px) {
      .navbar a img {
        margin-right: 1.5rem; } }
    @media (max-width: 600px) {
      .navbar a img {
        margin-right: 2.5rem; } }
  .navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    opacity: 1; }
    @media (max-width: 321px) {
      .navbar ul {
        margin-right: 1.2rem; } }
    @media (max-width: 600px) {
      .navbar ul {
        margin-top: 1rem; } }
    .navbar ul li {
      padding-right: 3rem; }
      @media (max-width: 321px) {
        .navbar ul li {
          padding: 0 0.625rem; } }
      .navbar ul li a {
        color: #fff;
        font-weight: 500;
        font-size: 1.125rem; }
        .navbar ul li a:hover {
          color: #03a562;
          transition: 1s; }

.nav-colored {
  background-color: #020d18; }

.nav-transparent {
  background-color: transparent; }

.search-box {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13rem 1rem;
  margin: auto; }
  @media (max-width: 600px) {
    .search-box {
      padding: 11rem 1rem; } }
  .search-box h2 {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: #03a562; }
    @media (max-width: 600px) {
      .search-box h2 {
        font-size: 1rem;
        font-weight: normal; } }
  @media (max-width: 600px) {
    .search-box h3 {
      font-size: 0.875rem;
      text-align: center; } }
  .search-box p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
    color: crimson; }
    @media (max-width: 600px) {
      .search-box p {
        font-size: 1rem; } }
  .search-box input[type="text"] {
    width: 37.5rem;
    padding: 0.875rem 1rem;
    outline: none;
    border: 1px solid #000;
    font-size: 1.03125rem; }
    @media (max-width: 600px) {
      .search-box input[type="text"] {
        max-width: 90%; } }
    .search-box input[type="text"]:focus {
      border: 2px solid #eee;
      transition: 400ms ease-in-out; }
  .search-box small {
    margin: 0.5rem;
    text-align: left;
    opacity: 0.6; }

::placeholder {
  opacity: 0.5; }

.count {
  color: crimson; }

.phrase {
  color: #03a562; }

.mv-columns {
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 3px; }

.mv-card {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0.625rem; }

.mv-img img {
  border-radius: 10px;
  opacity: 0.6; }
  .mv-img img:hover {
    opacity: 0.9;
    transition: 400ms ease-in-out;
    transform: rotate(1.5deg); }

.mv-info {
  background: #181521; }
  .mv-info h3 {
    font-weight: 600;
    text-align: right;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antiliased;
    font-size: 1.1rem;
    color: crimson;
    padding: 0.3125rem 0.625rem; }
  .mv-info small {
    padding: 0.3125rem 0.625rem; }

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3125rem 0.625rem; }
  .summary span {
    color: #03a562; }
  .summary small {
    font-weight: bold; }

.mv-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.3125rem 0.625rem; }
  .mv-footer .read-more {
    color: gold;
    opacity: 0.5; }
    .mv-footer .read-more span {
      color: crimson; }

.release_date {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.date {
  color: #03a562; }

.mv-collections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem; }
  @media (max-width: 1100px) {
    .mv-collections {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 768px) {
    .mv-collections {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600px) {
    .mv-collections {
      grid-template-columns: 1fr; } }

.search-counter {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 2rem; }
  .search-counter h2 {
    font-weight: normal; }
    @media (max-width: 600px) {
      .search-counter h2 {
        font-size: 1.3rem; } }
  .search-counter small {
    opacity: 0.8;
    font-size: 1rem; }

.spinner {
  margin: auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.pagination {
  display: block;
  max-width: 1000px;
  margin: 0.625rem 3rem;
  padding: 0.625rem 2rem;
  margin: auto;
  text-align: center; }
  .pagination li .active {
    background-color: #03a562;
    color: #fff; }
  .pagination a {
    color: crimson;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
    text-decoration: none; }
    .pagination a:hover:not(.active) {
      background-color: crimson;
      color: #fff;
      cursor: pointer; }

.no-result {
  max-width: 900px;
  margin: 3rem auto;
  color: crimson;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  border-top: 2px solid red;
  border-bottom: 2px solid red; }
  @media (max-width: 1200px) {
    .no-result {
      border: 0; } }
  @media (max-width: 321px) {
    .no-result {
      flex-direction: column; } }
  .no-result i {
    color: red; }
  .no-result h2 {
    padding: 0.625rem;
    text-align: center;
    font-weight: bolder; }
    @media (max-width: 425px) {
      .no-result h2 {
        font-size: 1.2rem; } }

.search-tips {
  max-width: 900px;
  margin: 3rem auto;
  padding: 1rem 5rem;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .search-tips h3 {
    color: crimson;
    padding: 0.625rem;
    font-size: 1.5rem; }
  .search-tips ul li {
    list-style: square;
    line-height: 2; }

.link {
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px; }

.movie_card {
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  margin: 80px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5); }
  .movie_card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s; }
  .movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px; }
    .movie_card .info_section .movie_header {
      position: relative;
      padding: 25px;
      height: 40%; }
      .movie_card .info_section .movie_header h1 {
        color: black;
        font-weight: 400; }
      .movie_card .info_section .movie_header h4 {
        color: #555;
        font-weight: 400; }
      .movie_card .info_section .movie_header .minutes {
        display: inline-block;
        margin-top: 15px;
        color: #555;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.05); }
      .movie_card .info_section .movie_header .type {
        display: inline-block;
        color: #959595;
        margin-left: 10px; }
      .movie_card .info_section .movie_header .locandina {
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5); }
    .movie_card .info_section .movie_desc {
      padding: 25px;
      height: 50%; }
      .movie_card .info_section .movie_desc .text {
        color: #545454; }
    .movie_card .info_section .movie_social {
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px; }
      .movie_card .info_section .movie_social ul {
        list-style: none;
        padding: 0; }
        .movie_card .info_section .movie_social ul li {
          display: inline-block;
          color: rgba(0, 0, 0, 0.3);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px; }
          .movie_card .info_section .movie_social ul li:hover {
            transition: color 0.3s;
            color: rgba(0, 0, 0, 0.7); }
          .movie_card .info_section .movie_social ul li i {
            font-size: 19px;
            cursor: pointer; }
  .movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px; }

@media screen and (min-width: 768px) {
  .movie_header {
    width: 65%; }

  .movie_desc {
    width: 50%; }

  .info_section {
    background: linear-gradient(to right, #e5e6e6 50%, transparent 100%); }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important; } }
@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto; }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important; }

  .movie_header {
    width: 100%;
    margin-top: 85px; }

  .movie_desc {
    width: 100%; }

  .info_section {
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid; } }
.bright_back {
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg"); }

.tomb_back {
  background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png"); }

.ave_back {
  background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg"); }

body {
  line-height: 1.5;
  font-size: 100%;
  background: #020d18;
  color: #fff;
  font-family: "Nunito Sans"; }

h1,
h2,
h3 {
  font-family: "Montserrat"; }

/*# sourceMappingURL=App.css.map */
