@import "./media";
.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.625rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  a {
    img {
      width: 15.625rem;
      height: 5rem;

      @include small {
        margin-right: 1.5rem;
      }

      @include mobile {
        margin-right: 2.5rem;
      }
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    opacity: 1;

    @include small {
      margin-right: 1.2rem;
    }

    @include mobile {
      margin-top: 1rem;
    }
    li {
      padding-right: 3rem;
      @include small {
        padding: 0 0.625rem;
      }
      a {
        color: #fff;
        font-weight: 500;
        font-size: 1.125rem;

        &:hover {
          color: #03a562;
          transition: 1s;
        }
      }
    }
  }
}

.nav-colored {
  background-color: #020d18;
}
.nav-transparent {
  background-color: transparent;
}
