.pagination {
  display: block;
  max-width: 1000px;
  margin: 0.625rem 3rem;
  padding: 0.625rem 2rem;
  margin: auto;
  text-align: center;
  li .active {
    background-color: #03a562;
    color: #fff;
  }
  a {
    color: crimson;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    &:hover:not(.active) {
      background-color: crimson;
      color: #fff;
      cursor: pointer;
    }
  }
}
