.search-counter {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  h2 {
    font-weight: normal;
    @include mobile {
      font-size: 1.3rem;
    }
  }
  small {
    opacity: 0.8;
    font-size: 1rem;
  }
}
