.search-box {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13rem 1rem;
  margin: auto;

  @include mobile {
    padding: 11rem 1rem;
  }

  h2 {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: #03a562;
    @include mobile {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  h3 {
    @include mobile {
      font-size: 0.875rem;
      text-align: center;
    }
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
    color: crimson;
    @include mobile {
      font-size: 1rem;
    }
  }

  input[type="text"] {
    width: 37.5rem;
    padding: 0.875rem 1rem;
    outline: none;
    border: 1px solid #000;
    font-size: 1.03125rem;

    @include mobile {
      max-width: 90%;
    }

    &:focus {
      border: 2px solid #eee;
      transition: 400ms ease-in-out;
    }
  }

  small {
    margin: 0.5rem;
    text-align: left;
    opacity: 0.6;
  }
}

::placeholder {
  opacity: 0.5;
}

.count {
  color: crimson;
}

.phrase {
  color: #03a562;
}
