@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

$fontFamily: (
  monsterrat: "Montserrat",
  nunito: "Nunito Sans"
);

$colors: (
  bgcolor: #020d18,
  textcolor: #fff
);
